{
  "openapi": "3.1.0",
  "info": {
    "title": "Sumvin API",
    "version": "0.44.0"
  },
  "servers": [
    {
      "url": "https://api.sumvin.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v0/user/": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Create User Account",
        "operationId": "createUserAccount",
        "security": [
          {
            "JunoJWT": []
          }
        ],
        "parameters": [
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "JWT token from x-juno-jwt header",
              "title": "X-Juno-Jwt"
            },
            "description": "JWT token from x-juno-jwt header"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUserResponse"
                }
              }
            }
          },
          "208": {
            "description": "User already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/user/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get User Account",
        "description": "Return the authenticated user's profile. The optional ``expand`` query parameter accepts ``wallets`` and ``status_history``; any other value is silently ignored to keep the endpoint forward- and backward-compatible during client rollouts (e.g. legacy clients still passing the retired ``onboarding`` value will not break).",
        "operationId": "getUserAccount",
        "security": [
          {
            "JunoJWT": []
          }
        ],
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Expand related resources. Honored values: `wallets`, `status_history`. Unknown values are silently ignored.",
              "default": [],
              "title": "Expand"
            },
            "description": "Expand related resources. Honored values: `wallets`, `status_history`. Unknown values are silently ignored."
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "JWT token from x-juno-jwt header",
              "title": "X-Juno-Jwt"
            },
            "description": "JWT token from x-juno-jwt header"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "responses": {
          "200": {
            "description": "User account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/user/me/phone": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Update Phone",
        "operationId": "updatePhone",
        "security": [
          {
            "JunoJWT": []
          },
          {
            "SumvinPAT": []
          }
        ],
        "parameters": [
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification code sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneVerificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/user/me/phone/code": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Verify Phone",
        "operationId": "verifyPhone",
        "parameters": [
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyPhoneCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone number verified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneVerificationResponse"
                }
              }
            }
          },
          "202": {
            "description": "Phone number verified, but the onboarding cursor advance is delayed and will complete asynchronously",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          },
          {
            "SumvinPAT": []
          }
        ]
      }
    },
    "/v0/user/me/username": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "Update Username",
        "operationId": "updateUsername",
        "parameters": [
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUsernameRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Username updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          },
          {
            "SumvinPAT": []
          }
        ]
      }
    },
    "/v0/user/me/profile-picture": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Upload User Profile Picture",
        "operationId": "uploadUserProfilePicture",
        "security": [
          {
            "JunoJWT": []
          },
          {
            "SumvinPAT": []
          }
        ],
        "parameters": [
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_uploadUserProfilePicture"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile picture uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfilePictureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "User"
        ],
        "summary": "Delete User Profile Picture",
        "operationId": "deleteUserProfilePicture",
        "parameters": [
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "responses": {
          "204": {
            "description": "Profile picture deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          },
          {
            "SumvinPAT": []
          }
        ]
      }
    },
    "/v0/user/me/onboarding/steps": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Submit Onboarding Step",
        "description": "Submit the user's current onboarding step. The body's ``step`` must match a step the user has not yet passed; submitting a step that is still ahead of them returns **409 Conflict** with the user's current step in the response so the client can self-correct. Resubmitting a step the user has already finished is an idempotent no-op that returns the current state. Returns **200 OK** with the updated onboarding state.",
        "operationId": "submitOnboardingStep",
        "parameters": [
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitOnboardingStepRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Step submitted; the updated onboarding state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingStepsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          },
          {
            "SumvinPAT": []
          }
        ]
      },
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get Onboarding Steps",
        "description": "Return the computed onboarding state for the authenticated user: the current step, per-step status (completed/current/submitted/skipped/pending), feature-gate metadata, and HAL navigation links. The state is computed on every call: reading it records no onboarding events and never advances the current step. Returns **502 Bad Gateway** when the flow that applies to this user cannot be resolved because a dependency is unavailable; the read is retryable.",
        "operationId": "getOnboardingSteps",
        "parameters": [
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "responses": {
          "200": {
            "description": "Computed onboarding state for the current user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingStepsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          },
          {
            "SumvinPAT": []
          }
        ]
      }
    },
    "/v0/user/me/onboarding/events": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get Onboarding Events",
        "operationId": "getOnboardingEvents",
        "parameters": [
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "responses": {
          "200": {
            "description": "Onboarding events retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingEventsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          },
          {
            "SumvinPAT": []
          }
        ]
      }
    },
    "/v0/user/me/onboarding/safe": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get Onboarding Safe",
        "operationId": "getOnboardingSafe",
        "security": [
          {
            "JunoJWT": []
          },
          {
            "SumvinPAT": []
          }
        ],
        "parameters": [
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "responses": {
          "200": {
            "description": "Current Safe-onboarding state for the authenticated user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingSafeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Submit Onboarding Safe",
        "operationId": "submitOnboardingSafe",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 255
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional idempotency key. Retrying the same request with the same key returns the original cached response. Reusing a key with a different request body returns 409 Conflict. Cached for 24h.",
              "title": "Idempotency-Key"
            },
            "description": "Optional idempotency key. Retrying the same request with the same key returns the original cached response. Reusing a key with a different request body returns 409 Conflict. Cached for 24h."
          },
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitOnboardingSafeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission accepted for the byo cohort; the response carries the post-mutation Safe state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingSafeResponse"
                }
              }
            }
          },
          "202": {
            "description": "user_signed_deploy cohort: UserOperation validated and accepted for asynchronous processing. Poll the status link in _links or GET /v0/user/me/onboarding/safe for the final wallet state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingSafeResponse"
                }
              }
            }
          },
          "204": {
            "description": "agent_create2 cohort: submission accepted with no state mutation. Current GET remains authoritative."
          },
          "208": {
            "description": "Idempotent re-submission; existing state returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingSafeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          },
          {
            "SumvinPAT": []
          }
        ]
      }
    },
    "/v0/user/me/assets": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get User Assets",
        "operationId": "getUserAssets",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "const": "wallet",
                "type": "string"
              },
              "description": "Expand options: `wallet` to include per-wallet balance breakdown",
              "default": [],
              "title": "Expand"
            },
            "description": "Expand options: `wallet` to include per-wallet balance breakdown"
          },
          {
            "name": "chain_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter assets by blockchain chain ID",
              "title": "Chain Id"
            },
            "description": "Filter assets by blockchain chain ID"
          },
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "responses": {
          "200": {
            "description": "User assets retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAssetsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          },
          {
            "SumvinPAT": []
          }
        ]
      }
    },
    "/v0/users/username/{username}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Resolve Username",
        "operationId": "resolveUsername",
        "security": [
          {
            "JunoJWT": []
          }
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 20,
              "title": "Username"
            }
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "JWT token from x-juno-jwt header",
              "title": "X-Juno-Jwt"
            },
            "description": "JWT token from x-juno-jwt header"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsernameResolveResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/user/me/cta": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get personalized calls-to-action",
        "description": "Returns cached CTAs for the user. On cache miss, triggers workflow generation and returns generating=true. Stale cache (>24h) returns existing CTAs while triggering a background refresh.",
        "operationId": "getUserCtas",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/CTAType"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by CTA type (home or chat). Omit for both.",
              "title": "Type"
            },
            "description": "Filter by CTA type (home or chat). Omit for both."
          },
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "responses": {
          "200": {
            "description": "CTAs returned (may be partial if generating)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCTAResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          },
          {
            "SumvinPAT": []
          }
        ]
      }
    },
    "/v0/user/me/mandate-key": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Check mandate key setup",
        "description": "Report how far setting up the signed-in account holder's mandate key has got. The mandate key is the key of the wallet the account holder creates in their browser once identity verification is complete, and signs spending mandates with. It can sign once the wallet is bound to their account and the key has been added as an owner of their smart wallet.\n\n`stage` is one of:\n- `not_provisioned`: no wallet is bound to this account yet. Create the wallet in the browser and bind it at `_links.wallet`.\n- `pending`: the wallet is bound and setup is under way.\n- `active`: the key can sign.\n- `failed`: the last attempt failed and may be retried; `error_code` and `error_reason` say why.\n- `blocked`: setup cannot proceed; `blocked_reason` says why.\n\nOnly `active` is settled. After binding, check again every few seconds while `pending`, and wait longer between attempts after a 429. Stop checking on `blocked`. `_links.share` reads back the wallet's encrypted key share once it is bound.\n\nCall this from the account holder's own signed-in browser session. Personal access tokens, agent tokens and connector access tokens are refused.",
        "operationId": "getUserMandateKey",
        "parameters": [
          {
            "name": "chain_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Network to report on. Defaults to the account's primary network. A signing key is only set up on the primary network, so on another supported network it does not become `active` and usually reports `blocked`. A network the service does not operate on is a 400.",
              "title": "Chain Id"
            },
            "description": "Network to report on. Defaults to the account's primary network. A signing key is only set up on the primary network, so on another supported network it does not become `active` and usually reports `blocked`. A network the service does not operate on is a 400."
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "responses": {
          "200": {
            "description": "Where mandate key setup stands",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MandateKeyActivationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          }
        ]
      }
    },
    "/v0/user/me/mandate-key/setup-failures": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Report a mandate key setup failure",
        "description": "Tell Sumvin that setting up the signed-in account holder's mandate key failed in their browser, so the failure can be looked into. Send one report each time an attempt fails, naming the `stage` that failed and the kind of failure in `cause_class`; add the wallet provider's `para_status` and `para_code` when it gave them. Reporting is best effort: nothing about the account changes, and a failed report never needs retrying.\n\nThe body describes the failure only and must never carry key material: no wallet share, ciphertext, passkey output, wallet ID or address. A body with any field beyond those documented is refused with a 422.\n\nCall this from the account holder's own signed-in browser session. Personal access tokens, agent tokens and connector access tokens are refused.",
        "operationId": "postMandateKeySetupFailure",
        "parameters": [
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportMandateKeySetupFailureRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The report was recorded"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "The body is malformed, names an unknown stage or cause, or carries a field that is not documented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          }
        ]
      }
    },
    "/v0/user/me/mandate-key/wallet": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Bind the mandate key wallet",
        "description": "Bind the wallet the account holder's browser has just created as their mandate key, and store the wallet share the browser encrypted. The share is stored exactly as sent and the server cannot decrypt it: the key is derived in the browser from a passkey and is never sent.\n\nThe wallet must exist with Sumvin's wallet provider at `wallet_address`, be an EVM wallet, and be ready. `possession_signature` must be the wallet's own EIP-712 signature over `BindParaWallet(string user,string wallet_id,address wallet_address)` in the domain `{name: \"Sumvin\", version: \"1\"}`, where `user` is the account's `id` as `GET /v0/user/me` returns it. Identity verification must be complete. Nothing is stored when any check fails.\n\nSuccess:\n- `201`: the wallet is now bound and its share stored. `_links.self` reads the share back.\n- `200`: this exact request was already applied, so repeating it after a lost response is safe.\n\n`409` — the request is well formed but cannot be applied now:\n- `PAR-409-002-R`: identity verification is not recorded as complete yet. Retry shortly.\n- `PAR-409-003-R`: the wallet provider has not finished creating the wallet. Retry shortly.\n- `PAR-409-004`: this wallet is already bound with a different share. Treat the wallet as bound and read the stored share back.\n- `PAR-409-005`: a different wallet is already bound to this account. It stays bound.\n- `PAR-409-001`: this wallet is already in use by another account.\n\n`422` — retrying the same request will not help:\n- `GEN-400-001`: the body is malformed — a field is missing, badly encoded, or out of range.\n- `PAR-422-001`: no wallet with this ID exists for Sumvin.\n- `PAR-422-002`: the wallet is not an EVM wallet.\n- `PAR-422-003`: `wallet_address` is not this wallet's address.\n- `PAR-422-004`: `possession_signature` was not made by this wallet over the message above.\n\nCall this from the account holder's own signed-in browser session. Personal access tokens, agent tokens and connector access tokens are refused.",
        "operationId": "putMandateKeyWallet",
        "parameters": [
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BindMandateKeyWalletRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The wallet is bound and its share stored",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MandateKeyWalletResponse"
                }
              }
            }
          },
          "200": {
            "description": "This wallet and share were already bound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MandateKeyWalletResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "The wallet cannot be bound now: verification or the wallet is not ready yet, or a wallet is already bound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "The body is malformed, or the wallet, its address or the possession signature does not check out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          }
        ]
      }
    },
    "/v0/user/me/mandate-key/share": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Read the encrypted wallet share",
        "description": "Return the signed-in account holder's encrypted wallet share and how it was encrypted, exactly as their browser stored it, so that browser can decrypt it with the same passkey. A 404 means no wallet has been bound yet.\n\nCall this from the account holder's own signed-in browser session. Personal access tokens, agent tokens and connector access tokens are refused.",
        "operationId": "getMandateKeyShare",
        "parameters": [
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "responses": {
          "200": {
            "description": "The stored encrypted share",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MandateKeyWalletShareResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          }
        ]
      }
    },
    "/v0/wallets/": {
      "get": {
        "tags": [
          "Wallets",
          "AgentTool"
        ],
        "summary": "List Wallets",
        "operationId": "listWallets",
        "parameters": [
          {
            "name": "chain_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter wallets by blockchain chain ID",
              "title": "Chain Id"
            },
            "description": "Filter wallets by blockchain chain ID"
          },
          {
            "name": "is_eoa",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by wallet type: true for EOA wallets, false for Safe smart wallets",
              "title": "Is Eoa"
            },
            "description": "Filter by wallet type: true for EOA wallets, false for Safe smart wallets"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Expand related resources. Options: `cards`",
              "default": [],
              "title": "Expand"
            },
            "description": "Expand related resources. Options: `cards`"
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallets retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          },
          {
            "SumvinPAT": []
          }
        ]
      },
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Create Wallet",
        "operationId": "createWallet",
        "parameters": [
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/DynamicWalletCreate"
                  },
                  {
                    "$ref": "#/components/schemas/SiweWalletCreate"
                  },
                  {
                    "$ref": "#/components/schemas/TxnHashWalletCreate"
                  }
                ],
                "discriminator": {
                  "propertyName": "method",
                  "mapping": {
                    "dynamic": "#/components/schemas/DynamicWalletCreate",
                    "siwe": "#/components/schemas/SiweWalletCreate",
                    "txn_hash": "#/components/schemas/TxnHashWalletCreate"
                  }
                },
                "title": "Payload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Wallet created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          },
          {
            "SumvinPAT": []
          }
        ]
      }
    },
    "/v0/wallets/{wallet_id}": {
      "get": {
        "tags": [
          "Wallets",
          "AgentTool"
        ],
        "summary": "Get Wallet",
        "operationId": "getWallet",
        "parameters": [
          {
            "name": "wallet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Wallet Id"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Expand related resources. Options: `cards`",
              "default": [],
              "title": "Expand"
            },
            "description": "Expand related resources. Options: `cards`"
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "JunoJWT": []
          },
          {
            "SumvinPAT": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Wallets"
        ],
        "summary": "Update Wallet",
        "description": "Rename a wallet, or make it the user's primary wallet. Send only the fields you want to change; sending `nickname` as null clears the current name.\n\nMaking a wallet primary moves that status off whichever wallet currently holds it and updates the user's payout addresses. Only an EOA can be primary, and primary status cannot be removed on its own — promote another wallet instead. If no Safe smart wallet exists on the promoted wallet's chain, one is created in the background and the response is 202 Accepted.",
        "operationId": "updateWallet",
        "parameters": [
          {
            "name": "wallet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Wallet Id"
            }
          },
          {
            "name": "x-juno-orgid",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tenant org ID for multi-tenant auth",
              "title": "X-Juno-Orgid"
            },
            "description": "Tenant org ID for multi-tenant auth"
          },
          {
            "name": "x-sumvin-token",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Token"
            }
          },
          {
            "name": "x-sumvin-pat",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Sumvin-Pat"
            }
          },
          {
            "name": "x-juno-jwt",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Juno-Jwt"
            }
          },
          {
            "$ref": "#/components/parameters/XTimestampFormat"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletUpdateRequest"
[...]
